// Namespace
// -----------------------------------------------------------------------------
$ns: 'eddy';

// Palette
// -----------------------------------------------------------------------------
$nero: #1e1e1e;
$snow: #fcfcfc;
$neon-harlequin: #58f609;

// Typography
// -----------------------------------------------------------------------------
$font-family-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;

$font-size-system: 16px;
