// Namespace
// -----------------------------------------------------------------------------
$ns: 'eddy';

// Breakpoints
// -----------------------------------------------------------------------------
$breakpoints: (
  // 321px
  xs: 20.0625em,
  // 481px
  s: 30.0625em,
  // 769px
  m: 48.0625em,
  // 1025px
  l: 64.0625em,
  // 1441px
  xl: 90.0625em
);

// Palette
// -----------------------------------------------------------------------------
$nero: #1e1e1e;
$snow: #fcfcfc;
$neon-harlequin: #58f609;

// Typography
// -----------------------------------------------------------------------------
$font-family-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;

$font-size-system: 16px;
