// Table of Contents
// =============================================================================
// 1 Imports
// 2 Reset
// 3 Declarations
//   3.1 General
//   3.2 Text input
//   3.3 Textarea

// 1 Imports
// =============================================================================
@import './utils/tokens';
@import './functions/to-display-p3';
@import './functions/to-rem';
@import './mixins/breakpoint';
@import './mixins/display-p3';
@import './mixins/has-mouse';

// 2 Reset
// =============================================================================
.embed {
  overflow: initial;
}

.embed #container {
  margin-bottom: 0;
}

.embed .wufoo {
  box-sizing: border-box;
  width: 100%;
  padding-right: to-rem(16px);
  padding-bottom: 0;
  padding-left: to-rem(16px);
  margin: 0 auto !important;
  font-family: $font-family-system; // Update this to brand typeface
}

.wufoo .info {
  display: none;
}

.wufoo li {
  width: 100%;
  padding: 0;
}

.wufoo li.buttons {
  width: 100% !important;
  padding: 0;
}

.wufoo li.error {
  background-color: transparent !important;
}

.wufoo label.desc {
  display: initial;
  width: auto;
  padding-bottom: 0;
}

.wufoo input {
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 0;
}

.wufoo input:focus-visible {
  outline: none;
}

.wufoo textarea {
  box-sizing: border-box;
  resize: none;
}

.wufoo textarea:focus-visible {
  outline: none;
}

.wufoo .instruct {
  z-index: initial;
  opacity: 1;
  visibility: initial;
  position: initial;
  top: initial;
  left: initial;
  padding: 0;
  border: none;
  margin-left: 0;
}

@include breakpoint(s) {
  .embed .wufoo {
    padding-right: to-rem(24px);
    padding-left: to-rem(24px);
  }
}

@include breakpoint(m) {
  .embed .wufoo {
    max-width: to-rem(848px);
    padding-right: to-rem(40px);
    padding-left: to-rem(40px);
  }
}

// 3 Declarations
// =============================================================================

// 3.1 General
// -----------------------------------------------------------------------------
.wufoo .#{$ns}-input {
  margin-bottom: to-rem(24px) !important;
}

.wufoo .#{$ns}-input label {
  margin-bottom: to-rem(8px);
  margin-left: to-rem(8px);
  @include display-p3(color, $color-gray-3, !important);
  font-size: $font-size-xxxs;
  font-weight: $font-weight-medium;
  line-height: to-rem(24px);
  transition: color 250ms ease;
  user-select: none;
}

.wufoo .#{$ns}-input:focus-within label {
  @include display-p3(color, $color-gray-1, !important);
}

.wufoo .#{$ns}-input.error label {
  @include display-p3(color, $color-gray-3, !important);
}

.wufoo .#{$ns}-input.error:focus-within label {
  @include display-p3(color, $color-gray-1, !important);
}

.wufoo .#{$ns}-input label span {
  @include display-p3(color, $color-neon-harlequin, !important);
  font-weight: inherit;
}

.wufoo .#{$ns}-input div {
  position: relative;
}

.wufoo .#{$ns}-input input,
.wufoo .#{$ns}-input textarea {
  @include display-p3(border-color, $color-gray-3);
  border-radius: to-rem(8px);
  border-style: solid;
  border-width: to_rem(2px);
  background-color: transparent;
  @include display-p3(color, $color-gray-2, !important);
  font-size: $font-size-xs !important;
  transition: border-color 250ms ease, background-color 250ms ease,
    color 250ms ease;
  @include display-p3(caret-color, $color-neon-harlequin);
}

.wufoo .#{$ns}-input input:focus,
.wufoo .#{$ns}-input textarea:focus {
  @include display-p3(border-color, $color-gray-1);
  outline: none;
  @include display-p3(background-color, $color-gray-9);
  @include display-p3(color, $color-gray-0, !important);
}

.wufoo .#{$ns}-input input::placeholder,
.wufoo .#{$ns}-input textarea::placeholder {
  opacity: 0;
  @include display-p3(color, $color-gray-5);
  transition: opacity 250ms ease;
}

.wufoo .#{$ns}-input input:focus::placeholder,
.wufoo .#{$ns}-input textarea:focus::placeholder {
  opacity: 1;
}

.wufoo .#{$ns}-input input::selection,
.wufoo .#{$ns}-input textarea::selection {
  @include display-p3(background-color, $color-neon-harlequin);
  @include display-p3(color, $color-nero);
}

.wufoo .#{$ns}-input.error input,
.wufoo .#{$ns}-input.error textarea {
  @include display-p3(border-color, $color-error);
}

.wufoo .#{$ns}-input .instruct {
  margin-left: to-rem(8px);
  line-height: to-rem(20px);
  pointer-events: none;
  user-select: none;
}

.wufoo .#{$ns}-input .instruct small {
  @include display-p3(color, $color-gray-5);
  font-size: $font-size-xxxs;
}

.wufoo .#{$ns}-input .error {
  padding-top: 0 !important;
  margin-left: to-rem(8px) !important;
  @include display-p3(color, $color-gray-5, !important);
  font-size: $font-size-xxxs;
  font-weight: $font-weight-regular;
  line-height: to-rem(20px) !important;
  pointer-events: none;
  user-select: none;
}

@supports (display: flex) {
  .wufoo .#{$ns}-input {
    display: flex !important;
    flex-direction: column;
  }

  .wufoo .#{$ns}-input div {
    order: 3;
  }

  .wufoo .#{$ns}-input .instruct {
    order: 2;
    margin-top: to-rem(-8px);
    margin-bottom: to-rem(8px);
  }

  .wufoo .#{$ns}-input .error {
    order: 4;
    margin-top: to-rem(4px) !important;
  }
}

// 3.2 Text input
// -----------------------------------------------------------------------------
.wufoo .#{$ns}-input.#{$ns}-input--text div::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: to-rem(-3px);
  left: to-rem(-3px);
  display: block;
  height: calc(100% + #{to-rem(6px)});

  // These props will need to be omitted if text-input's width need to be
  // configurable.
  width: calc(100% + #{to-rem(6px)});
  max-width: to-rem(366px);

  border-radius: to-rem(11px);
  @include display-p3(background-color, $color-nero);
  box-shadow: 0 0 0 0 rgba($color-focus-outline, 0);
  box-shadow: 0 0 0 0 to-display-p3(rgba($color-focus-outline, 0));
  transition: box-shadow 250ms ease;
  pointer-events: none;
}

.wufoo .#{$ns}-input.#{$ns}-input--text:focus-within div::before {
  box-shadow: 0 0 0 to-rem(5px) $color-focus-outline;
  box-shadow: 0 0 0 to-rem(5px) to-display-p3($color-focus-outline);
}

.wufoo .#{$ns}-input.#{$ns}-input--text input {
  height: to-rem(64px);

  // These props will need to be omitted if text-input's width need to be
  // configurable.
  width: 100%;
  max-width: to-rem(360px);

  padding: to-rem(20px) to-rem(16px);
  line-height: to-rem(24px);
}

.wufoo .#{$ns}-input.#{$ns}-input--text .instruct {
  // These props will need to be omitted if text-input's width need to be
  // configurable.
  width: calc(100% - #{to-rem(16px)});
  max-width: to-rem(344px);
}

.wufoo .#{$ns}-input.#{$ns}-input--text .error {
  // These props will need to be omitted if text-input's width need to be
  // configurable.
  width: calc(100% - #{to-rem(16px)});
  max-width: to-rem(344px);
}

@include has-mouse() {
  .wufoo .#{$ns}-input.#{$ns}-input--text input {
    height: to-rem(48px);
    padding: to-rem(12px) to-rem(12px);
  }
}

// 3.2 Textarea
// -----------------------------------------------------------------------------
.wufoo .#{$ns}-input.#{$ns}-input--textarea div::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: to-rem(-3px);
  left: to-rem(-3px);
  display: block;
  height: calc(100% + #{to-rem(6px)});

  // This prop will need to be omitted if text-input's width need to be
  // configurable.
  width: calc(100% + #{to-rem(6px)});
  max-width: to-rem(784px);

  border-radius: to-rem(11px);
  @include display-p3(background-color, $color-nero);
  box-shadow: 0 0 0 0 rgba($color-focus-outline, 0);
  box-shadow: 0 0 0 0 to-display-p3(rgba($color-focus-outline, 0));
  transition: box-shadow 250ms cubic-bezier(0.6, 0, 0.5, 1.4);
  pointer-events: none;
}

.wufoo .#{$ns}-input.#{$ns}-input--textarea:focus-within div::before {
  box-shadow: 0 0 0 to-rem(5px) $color-focus-outline;
  box-shadow: 0 0 0 to-rem(5px) to-display-p3($color-focus-outline);
}

.wufoo .#{$ns}-input.#{$ns}-input--textarea textarea {
  height: to-rem(64px);
  max-width: to-rem(768px);
  padding: to-rem(20px) to-rem(16px);
  line-height: to-rem(24px);
  transition: height 250ms cubic-bezier(0.6, 0, 0.5, 1.4);
}

.wufoo .#{$ns}-input.#{$ns}-input--textarea:focus textarea {
  height: to-rem(160px);
}

@include has-mouse() {
  .wufoo .#{$ns}-input.#{$ns}-input--textarea textarea {
    height: to-rem(48px);
    padding: to-rem(12px) to-rem(12px);
  }

  .wufoo .#{$ns}-input.#{$ns}-input--textarea:focus textarea {
    height: to-rem(144px);
  }
}
